.container{
    border: 2px solid black;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 0 50px;
}


.bloco-1{
    height: 150px;
    width: 150px;
    background-color: lightcoral;
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.bloco-2{
    height: 150px;
    width: 150px;
    background-color: lightgreen;
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.bloco-3{
    height: 150px;
    width: 150px;
    background-color: lightskyblue;
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

